<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
</head>
<body>
  <div class="min-h-screen bg-gray-50 flex flex-col py-12 sm:px-6 lg:px-8">
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <h2 class="mt-6 text-3xl leading-9 font-extrabold text-gray-900">
            Welcome {{ name }}
          </h2>
          <p class="mt-2 text-md leading-5 text-gray-900 max-w">
            You are signed into {{ app_name }} as <b>{{ preferred_username }}</b>
          </p>
        </div>
      </div>
    </div>
</body>
</html>